---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import { Image } from 'astro:assets';
import { slugify } from '@utils/slug';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage, categories, lang, langLink } = Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} hideHero hideVideos>
  <article>
    <div class="mb-8 block overflow-hidden">
      {
        heroImage && (
          <figure class="h-auto w-auto object-cover md:h-[480px]">
            <Image src={heroImage} alt={title} width={960} height={480} decoding="async" loading="lazy" />
          </figure>
        )
      }
    </div>
    <div class="md:col-10 mb-12">
      <h1 class="text-2xl font-bold sm:text-5xl">{title}</h1>
      <div class="mt-4 flex flex-wrap space-x-3 text-zinc-800 dark:text-zinc-200">
        <div class="flex flex-wrap items-center font-medium space-x-1">
          <ion-icon name="calendar-sharp"></ion-icon>
          <FormattedDate date={pubDate} />
        </div>
        <div class="flex flex-wrap items-center space-x-1 font-medium">
          <ion-icon name="bookmark-sharp"></ion-icon>
          {
            categories?.slice(0, 1).map((category) => (
              <a href={`/categories/${slugify(category)}`} class="hover:text-primary font-medium capitalize">
                {category}
              </a>
            ))
          }
        </div>
        {
          langLink && (
            <div class="flex flex-wrap items-center font-medium space-x-1">
              <ion-icon name="arrow-redo-sharp"></ion-icon>
              <a href={langLink}>{lang === 'es' ? 'Leer en Ingles' : 'Read in Spanish'}</a>
            </div>
          )
        }
      </div>
    </div>
    <div class="prose-md prose prose-green min-w-full md:prose-lg">
      <slot />
    </div>
  </article>
</Base>
