---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import ArrowBackIcon from '@icons/ArrowBack.astro';

type Props = CollectionEntry<'portfolio'>['data'];

const { title, image, description, url } = Astro.props;
---

<Base meta_title={title} description={description} image={image} hideHero hideVideos>
  <article>
    <div class="mb-8 block overflow-hidden">
      {
        image && (
          <figure class="h-auto w-auto object-cover md:h-[540px]">
            <Image src={image} alt={title} width={960} height={540} decoding="async" loading="lazy" />
          </figure>
        )
      }
    </div>
    <div class="min-w-full">
      <a href="/portfolio" class="my-4 text-base text-indigo-400">
        <div class="flex items-center space-x-1">
          <ArrowBackIcon />
          <span>Back</span>
        </div>
      </a>
      <h1 class="text-2xl font-bold sm:text-5xl">{title}</h1>

      <div class="prose-md prose prose-green min-w-full pt-5 md:prose-lg">
        <slot />
      </div>
      {
        url && (
          <div class="my-8 flex justify-center">
            <a
              href={url}
              target="_blank"
              class="inline-block rounded border border-indigo-600 px-12 py-3 text-center text-lg font-medium text-indigo-600 transition-all hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500 dark:border-indigo-400 dark:text-indigo-400 dark:hover:border-indigo-600 dark:hover:text-white"
            >
              View project
            </a>
          </div>
        )
      }
    </div>
  </article>
</Base>
